set -uo pipefail

# [Option 1] Update environment if .env file changes
# (currently does not set PWD variable for .env files, but the fix will be in newer release of direnv)
# dotenv .env

# [Option 2] Use watch_file to update environment if .env file changes
watch_file .env
set -a && source .env && set +a # Export all variables from .env file
